<table class="table table hover">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Genre</td>
      <td>Published</td>
      <td>Publisher</td>
      <td>ISBN</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="form-control" type="text" name="name" placeholder="Title" [(ngModel)]="newBook.title" #title="ngModel" required>
      </td>
      <td>
        <input class="form-control" type="text" name="author" placeholder="Author" [(ngModel)]="newBook.author" #author="ngModel"
          required>
      </td>
      <td>
        <input class="form-control" type="text" name="genre" placeholder="Genre" [(ngModel)]="newBook.genre" #genre="ngModel" required>
      </td>
      <td>
        <input class="form-control" type="text" name="published" placeholder="Published" [(ngModel)]="newBook.published" #published="ngModel"
          required>
      </td>
      <td>
        <input class="form-control" type="text" name="Publisher" placeholder="Publisher" [(ngModel)]="newBook.publisher" #publisher="ngModel"
          required>
      </td>
      <td>
        <input class="form-control" type="text" name="ISBN" placeholder="ISBN" [(ngModel)]="newBook.ISBN" #ISBN="ngModel" required>
      </td>
      <td>
        <button class="btn btn-success btn-block" (click)="create()" [disabled]="!title.valid || !author.valid || !genre.valid || !published.valid || !publisher.valid || !ISBN.valid">Create</button>
      </td>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.published}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.ISBN}}</td>
      <td class="btn-group">
        <button class="btn btn-info" (click)="update(book._id)">Update</button>
        <button class="btn btn-danger" (click)="delete(book._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
