<table class="table table hover">
  <thead>
    <tr>
      <td>Name</td>
      <td>Major genre</td>
      <td>Fiction</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="form-control" type="text" name="name" placeholder="Genre name" [(ngModel)]="newGenre.name" #name="ngModel"
          required>
      </td>
      <td>
        <input class="form-control" type="text" name="majorGenre" placeholder="majorGenre" [(ngModel)]="newGenre.majorGenre" #majorGenre="ngModel"
          required>
      </td>
      <td>
        <input class="form-control" type="text" name="fiction" placeholder="fiction" [(ngModel)]="newGenre.fiction" #fiction="ngModel"
          required>
      </td>
      <td>
        <button class="btn btn-success btn-block" (click)="create()" [disabled]="!name.valid || !majorGenre.valid || !fiction.valid">Create</button>
      </td>
    </tr>
    <tr *ngFor="let genre of genres">
      <td>{{genre.name}}</td>
      <td>{{genre.majorGenre}}</td>
      <td>{{genre.fiction}}</td>
      <td class="btn-group">
        <button class="btn btn-info" (click)="update(genre._id)">Update</button>
        <button class="btn btn-danger" (click)="delete(genre._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
